extends layout

block header
  hgroup.title
    h1
      span.title-shell shell
      span.title-share share
    h2 Live terminal broadcast
  
block main
  section.instructions
    .download
      code
        span(class="macos") curl -sLo
        span(class="linux") wget -qO
        |  shellshare 
        a(href="http://get.shellshare.net") http://get.shellshare.net
        |  && python shellshare
      nav.operating-systems
        input(type="radio" id="os-linux" name="os" value="linux" checked=isLinux)
        label(for="os-linux")
          i.fa.fa-2x.fa-linux
        input(type="radio" id="os-macos" name="os" value="macos" checked=!isLinux)
        label(for="os-macos")
          i.fa.fa-2x.fa-apple
    h3 What is it?
    p.
      Shellshare allows you to broadcast your terminal live with a single command.
    h3 How to use?
    p
      | Open a terminal and write:
      pre
        code.
          $ <span class="macos">curl -sLo</span><span class="linux">wget -qO</span> shellshare http://get.shellshare.net
          $ python shellshare
          <span class="shell-output">Sharing terminal in http://shellshare.net/r/EPbZJ7VZNakS9vwUlS</span>
          $ # Everything you do now will be broadcast live on the URL above.
          $ # When you're done, hit CTRL+D
          $ exit
          <span class="shell-output">End of transmission.</span>
    h3 Supported platforms
    p.
      It has been tested on Ubuntu 14.04 and Mac OS X, but should work on any
      platform that has Python 2.7 and <a
      href="http://man7.org/linux/man-pages/man1/script.1.html">script</a>.
      If it doesn't work on your system, please <a
      href="https://github.com/vitorbaptista/shellshare/issues">let me know</a>.
  section.faq
    h2 Frequently asked questions
    h3 Can someone control my terminal through shellshare?
    p.
      No. All communication is just one-way: from your terminal to shellshare.
      There's no way someone could send commands to your terminal. If you'd
      like to allow it, try <a
      href="https://savannah.gnu.org/projects/screen">screen</a> or <a
      href="https://tmux.github.io/">tmux</a> (specially with <a
      href="http://tmate.io">tmate</a>).
    h3 Can I save the broadcast?
    p.
      No. Shellshare was made only for live broadcasts. If you'd like to save your terminal, try
      <a href="https://asciinema.org">asciinema.org</a>.
    h3 Can I broadcast to a custom link?
    p
      | Yes. You can broadcast to a named room secured with a password by calling shellshare as:
      pre
        code.
          $ <span class="macos">curl -sLo</span><span class="linux">wget -qO</span> shellshare http://get.shellshare.net
          $ python shellshare --room MY-ROOM --password MY-PASS
          <span class="shell-output">Sharing terminal in http://shellshare.net/r/MY-ROOM</span>
          $ # ...
          $ exit
          <span class="shell-output">End of transmission.</span>
      | You don't have to set a password but, if you don't, you won't be able to transmit to
      | the same room later.
      | The rooms are deleted when they have no activity for more than a day.
    h3 Can I recover the password to a custom room?
    p.
      No. Although the rooms are deleted after a day of inactivity, so you can recreate it in 24 hours.
    h3 I found a problem! What do I do?
    p.
      Please, open an issue at our <a
      href="https://github.com/vitorbaptista/shellshare/issues">issues page</a>
      describing what the problem was, your shellshare version, and your operating
      system.
    h3 How can I help?
    p.
      Great! Any help is appreciated. Check out the code on <a
      href="https://github.com/vitorbaptista/shellshare">GitHub</a> and the <a
      href="https://github.com/vitorbaptista/shellshare/issues">issues
      page</a>. If you find anything that could be improved, go ahead, create an
      issue and send me a pull request.
